{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight N°: {{ flight.id }}</h1>
    <ul>
        <li> Origin : {{flight.origin}}</li>
        <li> Destination : {{flight.destination}}</li>
        <li> Duration : {{ flight.duration }}</li>
    </ul>
    <h2>Passengers</h2>
        <ul>
        {% for passenger in passengers %}
            <li>Passenger {{ passenger.id }} {{ passenger }}</li>
        {% empty %}
            <li>No Pssengers</li>
        {% endfor %}
        </ul>
{% endblock %}